@model HuynhMinhTri_2122110256.Models.HomeModel
@{
    ViewBag.Title = "Index";
}


@if (Session["idUser"] != null)
{

    <table class="table table-bordered text-center my-3">

        <thead>
            <tr class="bg-success">
                <th colspan="5" class="h4">
                    <strong>Danh sách đơn hàng </strong>
                </th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Tên đơn hàng</th>
                <th>Tên khách hàng</th>
                <th>Tình trạng</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
            }
            @foreach (var order in Model.ListOrder)
            {
                <tr class="">
                    <td> @order.Id</td>
                    <td> @order.Name</td>
                    <td> @Session["name"]</td>

                    @switch (@order.Status)
                    {
                        case 1:
                            <td>Chưa giao hàng</td>
                            break;
                        case 2:
                            <td>Đang giao hàng</td>
                            break;
                        case 3:
                            <td>Đã giao hàng</td>
                            break;

                        case 4:
                            <td>Đã hủy</td>
                            break;
                    }

                    <td>
                        <a href="@Url.Action("OrderDetail","Order",new {@id = order.Id})" class="btn btn-info">
                            Xem chi tiết
                        </a>
                    </td>
                </tr>
                count++;
            }

        </tbody>
        <tfoot>
            <tr>
                <th class="text-end">
                    <strong>Tổng số đơn hàng: @count </strong>
                </th>
            </tr>
        </tfoot>

    </table>
}

