@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<HuynhMinhTri_2122110256.Models.Order>
@{
    ViewBag.Title = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    .pagination-container {
        margin-top: 20px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding-left: 0;
        list-style: none;
        border-radius: 4px;
    }

    .page-item {
        margin: 0 2px;
    }

    .page-link {
        color: #007bff;
        padding: 8px 12px;
        text-decoration: none;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

        .page-link:hover {
            background-color: #f8f9fa;
        }

    .page-item.active .page-link {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        pointer-events: none;
        background-color: #e9ecef;
    }
</style>
<section class="content mt-4">
    <div class="container-fluid">
        <h2>Quản lý sản phẩm</h2>
        <div class="row">
            <div class="col-5">
                <div class="row">
                    @*<div class="col-4">
                            <a href="@Url.Action("Create", "AdminCategory")" class="btn border-dark btn-info">
                                Thêm danh mục
                            </a>
                        </div>*@
                    <div class="col-3">
                        <a href="@Url.Action("Trash", "AdminOrder")" class="btn border-dark btn-danger">
                            Thùng rác
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-7">
                @using (Html.BeginForm("Trash", "AdminOrder", FormMethod.Get))
                {
                    <p class="text-right">
                        Tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentlyFilter as string, new { @class = "form-control d-inline-block", @style = "width: auto;" })
                        <input type="submit" value="Tìm kiếm" class="btn btn-info" />
                    </p>
                }
            </div>

            <table class="table">
                <tr class="bg-dark">
                    <th style="width:200px"> Mã đơn hàng </th>
                    <th style="width:200px"> Tên đơn hàng </th>
                    <th> Mã khách hàng </th>
                    <th> Tình trạng </th>
                    <th> Tùy chọn</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            Đã hủy
                        </td>

                        <td>
                            <a href="@Url.Action("Destroy", "AdminOrder", new { @id = item.Id })" class="m-1"> <i class="nav-icon fas fa-trash text-danger"></i></a>
                            <a href="@Url.Action("Restore", "AdminOrder", new { @id = item.Id })" class="m-1"> <i class="nav-icon fas fa-trash-restore text-success"></i></a>
                        </td>
                    </tr>
                }

            </table>
            @{
                var totalPages = Model.PageCount;
                var currentPage = Model.PageNumber;
            }

            <div class="pagination-container text-center">
                <ul class="pagination">
                    @* Link to First Page *@
                    @if (currentPage > 1)
                    {
                        <li class="page-item">
                            <a href="@Url.Action("Index", new { page = 1, currentFilter = ViewBag.CurrentFilter })" class="page-link">First</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">First</span>
                        </li>
                    }

                    @* Link to Previous Page *@
                    @if (currentPage > 1)
                    {
                        <li class="page-item">
                            <a href="@Url.Action("Index", new { page = currentPage - 1, currentFilter = ViewBag.CurrentFilter })" class="page-link">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    }

                    @* Page Numbers *@
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        if (i == currentPage)
                        {
                            <li class="page-item active">
                                <span class="page-link">@i</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a href="@Url.Action("Index", new { page = i, currentFilter = ViewBag.CurrentFilter })" class="page-link">@i</a>
                            </li>
                        }
                    }

                    @* Link to Next Page *@
                    @if (currentPage < totalPages)
                    {
                        <li class="page-item">
                            <a href="@Url.Action("Index", new { page = currentPage + 1, currentFilter = ViewBag.CurrentFilter })" class="page-link">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    }

                    @* Link to Last Page *@
                    @if (currentPage < totalPages)
                    {
                        <li class="page-item">
                            <a href="@Url.Action("Index", new { page = totalPages, currentFilter = ViewBag.CurrentFilter })" class="page-link">Last</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Last</span>
                        </li>
                    }
                </ul>
            </div>

            <p class="text-center">
                Trang @currentPage of @totalPages
            </p>


        </div>
</section>
